<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SOS Ballet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icon -->
    <link rel="icon" type="image/png" href="img/icone/icone.jpg" />

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Meucss.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">


                            <nav id="nav-3">
                                <a class="link-3" href="index.html">Home</a>
                                <a class="link-3" href="Estudos.html">Estudos</a>
                                <a class="link-3" href="agenda.html">Agenda</a>
                                <a class="link-3" href="Quiz.html">Quiz</a>
                                <a class="link-3" href="#">Sobre</a>


                                <img class="profile" src="img/svg_icon/profille.png" alt="">
                                <a class="profile-btn" href="Perfil.html">Perfil</a>
                            </nav>
                        </div>
                    </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_6">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>calendario</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
    <!-- service_area  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <span>Calendario</span>
                        <h3> Eventos & <br> Datas importantes
                        </h3>
                    </div>
                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Dia da bailarina</h3>
                                        <p>Dia da Bailarina ou Dia do Bailarino é comemorado anualmente em 1º de
                                            setembro no Brasil.

                                            Esta data homenageia os dançarinos de Balé (ou Ballet), um estilo de dança
                                            que surgiu no século
                                            XV na Europa renascentista e que conheceria seu apogeu no século XIX.

                                            Atualmente, no entanto, o balé assumiu inúmeras variações, sendo estas
                                            baseadas
                                            em dois principais estilos: o clássico e o contemporâneo.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/agenda/dia-da-bailarina.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/agenda/danca.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Dia internacional da dança</h3>
                                        <p>O Dia Internacional da Dança é comemorado anualmente em 29 de abril.

                                            Também conhecido como Dia Mundial da Dança, esta data é destinada a
                                            homenagear uma das
                                            manifestações artísticas mais animadas e antigas que existem: a dança!

                                            A dança tem o poder de captar e transmitir traços particulares de diferentes
                                            culturas
                                            através dos tempos. Existem diversos estilos de dança diferentes, cada um
                                            com a sua própria
                                            personalidade. O Dia da Dança busca
                                            a valorização dessas identidades distintas.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Dia do solista</h3>
                                        <p>O Dia do Solista é celebrado anualmente no dia 14 de junho.

                                            O solista é aquele profissional virtuoso que é capaz de executar 
                                            sozinho certos movimentos, no caso da dança e do esporte, ou melodias,
                                             no caso da música. Igualmente, os atores podem ser solistas quando estão
                                              sozinhos em cena ou recitam um grande texto que não possui réplica.
                                            
                                            No esporte, algumas modalidades podem ser disputadas em equipe, duplas ou solo, 
                                            como a ginástica rítmica e o nado sincronizado.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/agenda/solista.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section_title text-center mb-65">
                        <h3>Calendario e eventos</h3>

                        <br>
                        <div class="row">
                            <!-- por enquanto deixa 12 ms depois sera 6 pq do lado vou por legenda dos dias coloridos -->
                            <div class="col-xl-12"> 


                           <!-- calendario -->


                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/ service_area  -->



    <!-- /testimonial_area  -->

    <div class="discuss_projects">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_text text-center">
                        <h3>Anotações</h3>
                        <p>Caso você não queira esquecer de algo e não tem um papel e caneta para anotar. Use nosso
                            campo anotações!
                            <br> <button type="button" class="boxed-btn3" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Anotações </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                    </div>
                    <div class="col-xl-6 col-md-6">

                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> | Trabalho final <i
                                class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://lujuravita.wordpress.com" target="_blank">LUJURA VITA</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--/ footer end  -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>


    <!-- modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="list-group">
                <a class="list-group-item list-group-item-action">
                 Anotações
                </a>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                      <!-- textarea -->
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Escreva aqui!!"></textarea>
                      </div>
                    </div>
              </div>
              <button type="button" class="boxed-btn3" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>


</body>

</html>