<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SOS Ballet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icon -->
    <link rel="icon" type="image/png" href="img/icone/icone.jpg" />

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Meucss.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">


                            <nav id="nav-3">
                                <a class="link-3" href="index.html">Home</a>
                                <a class="link-3" href="Estudos.html">Estudos</a>
                                <a class="link-3" href="agenda.html">Agenda</a>
                                <a class="link-3" href="Quiz.html">Quiz</a>
                                <a class="link-3" href="#">Sobre</a>


                                <img class="profile" src="img/svg_icon/profille.png" alt="">
                                <a class="profile-btn" href="Perfil.html">Perfil</a>
                            </nav>
                        </div>
                    </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_7">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Alongamentos</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
    <!-- service_area  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <span>Níveis</span>
                        <h3> Basico
                        </h3>
                    </div>
                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Pescoço</h3>
                                        <p>Faça em si mesmo do lado direito e esquerdo. Depois, coloque as mãos na
                                             cabeça e pressione para baixo, queixo totalmente encostado no corpo,
                                             em seguida olhe para cima alongando a parte da frente. Por fim realize rotação.
                                             <br>
                                             15s cada etapa.
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                  <button class="buttoncro" class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                  <button class="buttoncro" class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 

                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/Pescoco.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/Trikonasana.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Trikonasana </h3>
                                        <p>O pé de trás fica num ângulo de 90 a 65 graus em relação ao pé da frente.         
                                            Mantenha as pernas ativas, colocando mais peso na perna de trás
                                            Rotacione a parte interna da coxa para fora, para não forçar o joelho.
                                            Mantenha espaço entre os ombros e a base do pescoço.
                                            Gire os ombros para trás, em direção às escápulas.
                                            Faça para os dois lados.
                                            <br>
                                            40s cada.
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Cachorro olhando para baixo</h3>
                                        <p>Comece de pé, alinhando suas mãos e joelhos. As mãos devem estar niveladas aos ombros, e os joelhos ao quadril;
                                            Abra bem suas mãos e as coloque no chão à sua frente;
                                            Alinhe a sua coluna de forma que o quadril aponte para o teto. Tente deixar as suas pernas o mais esticadas quanto possível;
                                            A sua cabeça deve estar entre os seus braços, de forma que você enxergue seus joelhos;
                                            Conforme se sentir confortável, aproxime a mão aos pés devagar. Ao estacionar em uma posição fique 1 min.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/CachorroOlhandoParaBaixo1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/EmCimaDaPerna.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Em cima da perna </h3>
                                        <p>Vá com as mãos em direção ao pé (o máximo)

                                            Relaxe o corpo e desça com intuito de encostar troco á perna. 
                                            2 séries de 30 segundos.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Borboleta</h3>
                                        <p>Sente-se ereto com as pernas esticadas.
                                            Flexione seus joelhos e coloque as solas dos pés juntas uma da outra.
                                            Tente colocar os joelhos no chão, alongando a região da virilha.
                                            Traga os calcanhares o mais próximo possível da pélvis
                                            Conforme se sinta confortável desça em direção aos pés como intuito de colocar a cabeça no chão. Ao estabilizar na posição, permaneça 1 min.
                                            
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/Borboleta.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/SemiGrandEcart.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>“semi grand écart” </h3>
                                        <p>Estique a perna de trás 

                                            Dobre a da frente 
                                             
                                            Não jogue o peso para as mãos
                                            
                                            2 séries de 30 segundos.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="section_title text-center mb-65">
                       <br><br><br> <br><span>Some os exercícios do básico com os novos do Intermediário</span>
                        <h3> Intermediário <br> 
                        </h3>
                    </div>
                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Grand écart (espacate)</h3>
                                        <p>Abra as pernas o máximo que conseguir

                                            Aos poucos desça o tronco com intuito de
                                             encostar a cabeça no chão. Permaneça por 1 min.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/GrandEcart.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/Cestinha.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Cestinha </h3>
                                        <p>Levante o máximo que conseguir as costas. 2 séries de 30s.
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Puxe perna</h3>
                                        <p>Não tire o quadril do chão 

                                            Fixe a perna de baixo, evitando movimento enquanto puxa.
                                            
                                            Cada perna: 2 séries de 30 segundos.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/PuxePerna.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/PernasNaCabeca.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Pernas na cabeça</h3>
                                        <p>Jogue a perna o máximo para trás

                                            Pegue os pés com a mão, alongando a perna. 1 min.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="section_title text-center mb-65">
                      <br><br><br> <br> <span>Some os exercícios do básico e do avançado com os novos</span>
                        <h3> Avançado <br> 
                        </h3>
                    </div>
                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Grand écart deitado</h3>
                                        <p>Deite e mantenha o quadril no chão.
                                            Puxe a perna ao máximo
                                            2 séries de 30s.
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/GrandEcartDeitado.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/PernasParaAr.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Pernas para o ar </h3>
                                        <p>Mantenha a postura

                                            Não dobre o joelho de base
                                            
                                             Não dobre o joelho da perna que está puxando . 
                                            
                                            Cada perna: 30s.
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">

                                    <div class="projects_info">
                                        <br>
                                        <h3>Vela</h3>
                                        <p>Ombros totalmente apoiados
                                            Puxe os braços como na imagem
                                            30 segundos cada perna.
                                            
                                            
                                        </p> 
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/Vela.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-6">
                                    <div class="projects_thumb">
                                        <img class="sobreImg" src="img/alongamentos/PeNaTesta.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="projects_info">
                                        <br>
                                        <h3>Pé na testa</h3>
                                        <p>Foque no alongamento das costas e da coxa
                                            30s cada perna                                            
                                            
                                        </p>
                                        <div class="conteudo">
                                            <h1 class="cro">Regista o Tempo</h1>
                                                <!-- cronômetro -->
                                                <div class="cronometro">
                                                    <!-- horas -->
                                                    <span id="horas">00</span> :
                                    
                                                    <!-- minutos -->
                                                    <span id="minutos">00</span> :
                                    
                                                    <!-- segundos -->
                                                    <span id="segundos">00</span> :
                                    
                                                    <!-- milissegundos -->
                                                    <span id="milissegundos">00</span>
                                    
                                                </div>
                                                <!-- botão iniciar -->
                                                 <button class="buttoncro" id="botao-iniciar" type="submit">Iniciar</button>
                                                <!-- botão parar -->
                                                 <button class="buttoncro" id="botao-parar" type="submit">Parar</button>
                                                <!-- botão apagar -->
                                                 <button class="buttoncro" id="botao-apagar" type="submit">Apagar</button>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                 



                   
                </div>
            </div>
        </div>

    </div>
 



    <!-- /testimonial_area  -->
    <div class="discuss_projects">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_text text-center">
                        <h3>Anotações</h3>
                        <p>Caso você não queira esquecer de algo e não tem um papel e caneta para anotar. Use nosso
                            campo anotações!
                            <br> <button type="button" class="boxed-btn3" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Anotações </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                    </div>
                    <div class="col-xl-6 col-md-6">

                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> | Trabalho final <i
                                class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://lujuravita.wordpress.com" target="_blank">LUJURA VITA</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--/ footer end  -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script src="js/Cronometo.js"></script>


  <!-- modal -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="list-group">
            <a class="list-group-item list-group-item-action">
             Anotações
            </a>
            <br>
            <div class="row">
                <div class="col-sm-12">
                  <!-- textarea -->
                  <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Escreva aqui!!"></textarea>
                  </div>
                </div>
          </div>
          <button type="button" class="boxed-btn3" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>



</body>
</html>