<!DOCTYPE html>
<html lang="en">
<head>
	<title>SOS Ballet</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--icon  -->
	<link rel="icon" type="image/png" href="img/icone/icone.jpg"/>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/quiz-simulado.css">

</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('img/ControleSapatilha/Fundo.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-34 p-t-27">
						controle de sapatilha
					</span>
					<br>
					<div class="form-group">
						<label for="exampleFormControlSelect1">Modelo da Sapatilha</label>
						<select class="form-control" id="exampleFormControlSelect1">
						  <option>SD01-Sapatilha de Ponta Grand Pas</option>
						  <option>SD02-Sapatilha de Ponta Nikiya</option>
						  <option>SD07-Sapatilha de Ponta Natasha</option>
						  <option>SD08-Sapatilha de Ponta Anne</option>
						  <option>SD09-Sapatilha de Ponta Claudia</option>
						  <option>SD031-Sapatilha de Ponta Grisi</option>
						  <option>SD032-Sapatilha de Ponta Fanny</option>
						  <option>SD034-Sapatilha de Ponta Aurora</option>
						  <option>SD040-Sapatilha de Ponta Toshie</option>
						  <option>SD042-Sapatilha de Ponta Toshiezinha</option>
						  <option>SD043-Sapatilha de Ponta Toshie Star</option>
						</select>
					  </div>
					
					  <div class="form-group">
						<label for="exampleInputAula">Quantos mêses de aula a sapatilha tem? </label>
						<input type="number" class="form-control" id="exampleInputAula">
					  </div>
					  <div class="form-group">
						<label for="exampleInputEnsaio">Quantos mêses de ensaio a sapatilha tem? </label>
						<input type="number" class="form-control" id="exampleInputEnsaio" >
					  </div>
					  <div class="fim">
						<a class="login100-form-btn" href="Controle-Sapatilha-lista.html" role="button">Ver lista</a>
					  </div>
					  <button type="submit" class="login100-form-btn">Enviar</button>
					 
					  <br>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	<script src="vendor/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="js/main2.js"></script>

</body>
</html>